!!!
h1= title
script(src="/javascripts/api.js")
script(src="/javascripts/sha.js")
script(src="/javascripts/tinybox2/packed.js")
script(src="/javascripts/home.js")
link(rel='stylesheet', href='/javascripts/tinybox2/style.css')

div(id='links')
