!!! 5
h1(class='center', id='title')= title
div(class='center', id='banner')
    p Welcome to #{title}
    span(class='button')
        center
            p(class='buttonText') Register
    span(class='button')
        center
            p(class='buttonText') Login
    span(class='button')
        center
             p(class='buttonText') About


div(class='center', id='breaker')
div(class='center', id='container')
script
    console.log('hello world #{title}');
