!!! 5
body
  .topbar
    .fill
      .container
        a(style="font-family: 'Magra', sans-serif",class="brand",href="#") lynkit.org
        ul(class="nav")
          li(class="active", id="home")
            a(href="#") Home
          li(class="", id="lynks")
            a(href="#") Lynks
          li(class="", id="home")
            a(href="https://github.com/MarcoPolo/linkit/issues") Bugs

        - if (!loggedin)
          form(action="#", class="pull-right", id="loginForm")
            input(class="input-small", id="user", type="text", placeholder="Username")
            input(class="input-small", id="pass", type="password", placeholder="Password")
            button(class="btn",id="login") Sign in
            
        - else 
          button(class="pull-right btn", id="logout") Logout
          .pull-right
            p(style="color:white; font-size:14px;") #{user}   
                
            

  div(class="container",id="container1")  
    .content
      .page-header
        h1(style="font-family: 'Magra', sans-serif") lynkit \ 
          small \ keep track of that one site
      #indexContent
        .row
          - if (loggedin)
            .span12(style="min-height:500px;")
              h2 How it works:
              .row
                p &nbsp;&nbsp; This site keeps track of all those other sites.
              blockquote Its like an extension of your brain into the cloud!
              .row
              br /

              dl
                dt First:
                  dd Register
                dt Second:
                  dd Add sites to your lynks
                dt Third:
                  dd Access your lynk through username.lynkit.org/shortcut
          - else
            .span8
              h2 How it works:
              .row
                p &nbsp;&nbsp; This site keeps track of all those other sites.
              blockquote Its like an extension of your brain into the cloud!
              .row
              br /

              dl
                dt First:
                  dd Register
                dt Second:
                  dd Add sites to your lynks
                dt Third:
                  dd Access your lynk through username.lynkit.org/shortcut

            .span4
              h3 Registration
                form(action="#", class="pull-right")
                  .clearfix
                    .input-prepend
                      span(class="add-on") user
                      input(class="medium", id="userReg", name="prependedInput", size="16", type="text")
                    span(class="help-block", id="userReg") Try to keep it short!
                  .clearfix
                    .input-prepend
                      span(class="add-on") pass
                      input(class="medium", id="passReg", name="prependedInput", size="16", type="password")
                    span(class="help-block", id="passReg") This is optional!
                  .clearfix
                    .input-prepend
                      span(class="add-on") email
                      input(class="medium", id="passReg", name="prependedInput", size="16", type="text")
                    span(class="help-block", id="emailReg") This is also optional!

                  #captcha-modal(class="modal hide fade")
                    .modal-header
                      a(href="#", class="close")&times;
                      h3 One more thing...
                    .modal-body
                      p I trust you, but my creator does not.
                      #captcha
                    .modal-footer
                      a(id="captchaSubmit", href="#", class="btn info") Sign Up
                  a(id="signupb4Captcha", class="btn info", data-controls-modal="captcha-modal", data-backdrop="static") Sign Up!

      #linkContent(style="display:none; min-height:500px")
        .row
          .span12
            h2 Your links:
            br /
        .row
          .span12
            #linkContainer
              p Seems like you don't have any links!

        
        br /
        .row
          .span4
            .input-prepend
              span(class="add-on") Title
              input(class="medium", id="linkTitle", name="prependedInput", size="16", type="text")
            span(class="help-block") Give a descriptive title for your link
          .span4
            .input-prepend
              span(class="add-on") Url
              input(class="medium", id="linkUrl", name="prependedInput", size="16", type="text")
            span(class="help-block") Feed me the website url here
          .span4
            .input-prepend
              span(class="add-on") Shortcut
              input(class="small", id="linkShortcut", name="prependedInput", size="16", type="text")
            span(class="help-block") Short word that reminds you of the site
            .span2
              a(class="btn info pull-right", id="createLink", data-backdrop="static") add lynk

      
      - if (loggedin)
        script
          loggedin = true;
          $('#indexContent').hide();
          showLynks();

    footer 
