!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href='http://fonts.googleapis.com/css?family=Magra:400,700|Cousine|Nunito|Orbitron:400,700|Amaranth:400,700' rel='stylesheet' type='text/css'>
    script(src='/javascripts/jquery.js')

  body!= body
