!!!
html
  title=title
  head
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet/less" href="/stylesheets/bootstrap.less">

    <!-- included js-->
    <script src=/javascripts/jquery.js></script>
    <script src=/javascripts/less.js></script>
    <script src=/javascripts/login.js></script>
    <script src=/javascripts/home.js></script>
    <script src=/javascripts/register.js></script>
    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/sha.js"></script>
    <script src="/javascripts/bootstrap-alerts.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    script(type="text/javascript", charset="utf-8")
      showLynks = function(){
        $('#lynks').addClass('active');
        $('.home').removeClass('active');
        $('#indexContent').fadeOut(function(){$('#linkContent').fadeIn();});
      }
      showHome = function(){
        $('.home').addClass('active');
        $('#lynks').removeClass('active');
        $('#linkContent').fadeOut(function(){$('#indexContent').fadeIn();});
      }

      $(document).ready(function(){
          $('#lynks').click(showLynks);
          $('.home').click(showHome);
      });

    script(type="text/javascript", charset="utf-8")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28765716-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  include ../public/stylesheets/custom.css

  body!=body
