h1= title
script(src="/javascripts/api.js")
script(src="/javascripts/sha.js")
label(for="user") Username
input(type='text',id='user')
label(for="pass") Password
input(type='password',id='pass')
div
    button(id='login') login
