!!!
h1= title
script(src="/javascripts/api.js")
script(src="/javascripts/sha.js")
script(src="/javascripts/register.js")
script(src="/javascripts/tinybox2/packed.js")
link(rel='stylesheet', href='/javascripts/tinybox2/style.css')
label(for="user") Username
input(type='text',id='user')
br
label(for="pass") Password
input(type='password',id='pass')
br
label(for="email") Email
input(type='text',id='email')
div
    button(id='register') register
